* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font1: "varela";
    --font2: "Droid Sans";
    --black: #000;
    --white: #fff;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #222;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* ================= NAVBAR ================= */
/*call from main.css*/
.navbar {
    background-color: var(--black);
    
}

/* ================= EXTERIOR SECTION ================= */

.exterior-section {
    padding: 80px 0;
    text-align: center;
}

.section-title {
    color: #000;
    text-align: center;
    font-family: var(--font2);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 60px;
}

.exterior-section h2 {
    color: #000;
    text-align: center;
    font-family: var(--font2);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-image img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.exterior-section h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.description {
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #000;
    text-align: center;
    font-family: Varela;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr {
    margin: 40px auto;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
}

/* 2 Image Grid */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.grid-2 img {
    width: 100%;
    border-radius: 15px;
}

/* Full Image */
.full-image img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

/* Buttons */
.center-btn {
    text-align: center;
    margin-bottom: 60px;
}

.dark-btn {
    background: #222;
    color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
}

.light-btn {
    background: #fff;
    color: #000;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/* ================= CTA ================= */
/* ================= Location ================= */
/* ================= footer ================= */
/* those 3 calling from main.css */


/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .footer-content {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .desc {
        font-size: 16px !important;
    }
}