* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #222;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* NAVBAR */
/* calling from main.css*/
.navbar {
    background-color: var(--black);

}

/* INTERIOR SECTION */
.interior {
    padding: 80px 0;
    text-align: center;
}

.section-title {
    font-size: 32px;
    margin-bottom: 40px;
}

img {
    width: 100%;
    border-radius: 18px;
}

/* GRID LAYOUTS */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 25px;
    align-items: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

.small-gap {
    margin-top: 10px;
}

.full-image {
    margin: 30px 0;
}

.pool-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    margin: 40px 0;
}

/* TEXT */
h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: "Droid Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desc {
    max-width: 750px;
    margin: 0 auto 30px;
    line-height: 1.7;
    color: #000;
    text-align: center;
    font-family: Varela;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pool .desc{
text-align: justify;
}

.left {
    text-align: left;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 50px 0;
}

/* Full Image */
.full-image img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

/* Buttons */
.center-btn {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.dark-btn {
    background: #222;
    color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
}

.light-btn {
    background: #fff;
    color: #000;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/* CTA */


/* RESPONSIVE */
@media (max-width: 768px) {

    .grid-2,
    .grid-3,
    .pool-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .nav-content {
        flex-direction: column;
        gap: 20px;
    }
}